* {
  margin: 0;
  padding: 0;
}

.header {
  height: 121px;
}
.menu {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f7cc;
}
.text {
  background-color: #ffffff;
  font-size: 14px;
  padding: 20px;
  align-items: center;
  gap: 40px;
}

.learnbutton {
  border: 1px solid #0071e3;
  width: 107px;
  height: 36px;
  border-radius: 999px;
  background-color: #0071e3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buybutton {
  border: 1px solid #0071e3;
  border-radius: 999px;
  width: 66px;
  height: 36px;
  color: #0071e3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.section-1 {
  height: 500px;
  background-image: url("./images/Figure.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: end;
  align-items: center;
  padding: 30px;
}
