@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
.header {
  height: 121px;
}
.menu {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f7cc;
}
.text {
  background-color: #ffffff;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  padding: 40px;
  align-items: center;
  gap: 40px;
}

.learnbutton {
  border: 1px solid #0071e3;
  width: 107px;
  height: 36px;
  border-radius: 999px;
  background-color: #0071e3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buybutton {
  border: 1px solid #0071e3;
  border-radius: 999px;
  width: 66px;
  height: 36px;
  color: #0071e3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.section-1 {
  height: 500px;
  background-image: url("./images/Figure.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Inter", sans-serif;
  justify-content: end;
  align-items: center;
  padding: 40px;
  gap: 10px;
  margin-bottom: 20px;
}
.section-2 {
  height: 500px;
  background-image: url("./images/figure2.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Inter", sans-serif;
  justify-content: start;
  align-items: center;
  padding: 40px;
  gap: 10px;
  margin-bottom: 20px;
}
.learnbutton1 {
  border: 1px solid white;
  width: 107px;
  height: 36px;
  border-radius: 999px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buybutton1 {
  border: 1px solid white;
  border-radius: 999px;
  width: 66px;
  height: 36px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-3 {
  height: 500px;
  background-image: url("./images/figure1.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: black;
  font-family: "Inter", sans-serif;
  justify-content: start;
  align-items: center;
  padding: 40px;
  gap: 10px;
  margin-bottom: 20px;
}
.text1 {
  background-image: linear-gradient(
    90.43deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  background-clip: text;
  color: transparent;
  margin-top: 350px;
}
.section-4 {
  height: 500px;
  background-image: url("./images/figure3.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Inter", sans-serif;
  justify-content: end;
  align-items: center;
  padding: 40px;
  gap: 10px;
  margin-bottom: 20px;
}
.size {
  font-size: 18px;
  /* display: block; */
  /* justify-content: center;
  align-items: center; */
  text-align: center;
}
.section-5 {
  height: 500px;
  background-image: url("./images/figure4.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: #000000;
  font-family: "Inter", sans-serif;
  justify-content: start;
  align-items: center;
  padding: 40px;
  gap: 10px;
  margin-bottom: 20px;
}
.text2 {
  text-align: center;
}
.vektor {
  display: flex;
  gap: 10px;
}
.section-6 {
  height: 500px;
  background-image: url("./images/figure5.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: #1d1d1f;
  font-family: "Inter", sans-serif;
  justify-content: start;
  align-items: center;
  padding: 40px;
  gap: 10px;
  margin-bottom: 20px;
}
.section-7 {
  height: 500px;
  background-image: url("./images/figure6.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: #1d1d1f;
  font-family: "Inter", sans-serif;
  justify-content: start;
  align-items: center;
  padding: 40px;
  gap: 10px;
  margin-bottom: 20px;
}
.section-8 {
  height: 500px;
  background-image: url("./images/figure7.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: #1d1d1f;
  font-family: "Inter", sans-serif;
  justify-content: end;
  align-items: center;
  padding: 40px;
  gap: 10px;
  margin-bottom: 20px;
}
.findyourdeal {
  border: 1px solid #0071e3;
  width: 126px;
  height: 36px;
  border-radius: 999px;
  background-color: #0071e3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-9 {
  height: 500px;
  background-image: url("./images/figure8.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: #1d1d1f;
  font-family: "Inter", sans-serif;
  justify-content: start;
  align-items: center;
  padding: 40px;
  gap: 10px;
  margin-bottom: 20px;
}
.getyourestimate {
  border: 1px solid #0071e3;
  width: 285px;
  height: 36px;
  border-radius: 999px;
  background-color: #0071e3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-10 {
  height: 500px;
  background-image: url("./images/figure9.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.section-11 {
  border: 1px solid transparent;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  margin-bottom: 20px;
}
.dots {
  display: flex;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
}
.dotcolor {
  background-color: #1d1d1f;
}
.dotcolor1 {
  background-color: #0000006b;
}
.section-12-1 {
  height: 134px;
  width: 238px;
  background-image: url("./images/backroundpic1.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.section-12-2 {
  height: 134px;
  width: 238px;
  background-image: url("https://shorturl.at/2ZH4l");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
.last-section {
  display: flex;
  gap: 20px;
  overflow: hidden;
}
.playbutton {
  background-image: url(./images/playbutton.png);
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 16px;
  margin-left: 410px;
}
/* tablet 768px */
.body {
  margin: 0;
  font-family: "Inter", sans-serif;
  text-align: center;
}
@media (min-width: 768px) {
  .menu {
    width: 100%;
    height: 48px;
  }
  .text {
    font-size: 32px;
  }
  h2 {
    font-size: 60px;
  }
  .buttons {
    gap: 20px;
  }
  .section-1,
  .section-2,
  .section-3 {
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .section-1 {
    background-image: url(./images/Figure-tab.png);
  }
  .section-2 {
    background-image: url(./images/Figure-tab1.png);
  }
  .section-3 {
    background-image: url(./images/Figure-tab2.png);
  }
  .grid-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .section-4,
  .section-5,
  .section-6,
  .section-7,
  .section-8,
  .section-9 {
    height: 500px;
    margin-bottom: 0;
  }

  .section-10 {
    background-image: url(./images/blitzpic.jpg);
    height: 368px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .section-10-1 {
    background-image: url(./images/gallery1.png);
    height: 368px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .sectioning {
    display: flex;
    justify-content: space-between;
  }
}
